/* Optional: Custom styles if needed */
body {
    padding-top: 20px;
}

/* Styles for the table */
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

/* Styles for the pagination */
.pagination {
    justify-content: center;
}

.modal {
    max-height: 100vh;
}

/* Styles for the search bar */
#tableSearch {
    width: 100%;
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}